/*Importanciones*/
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

*{
    font-family: 'ZCOOL KuaiLe', cursive;
    font: 16px;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(./imagenes/backgroundcut.gif);
    height: 100vh;
    background-size:100% 100%;
    background-repeat:no-repeat;
}
canvas{
display: flex;
align-items: flex-start;
}
div{
    /*
    border: solid red 1px;
*/
}
.flex-container{
    /*Tamano del Div*/
    height: 100%;
    width: 100%;
    /*
    border: solid yellow 2px;
    */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
    
  
}
.text{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    color: white;
    font-size: 2rem;
   
}
 /* clases */
 .instructions-container{
     /*
    border: solid pink 2px;
    */ 
    width: 30%;
     height: 100%;
    display: flex;
    flex-direction: column;
 }

.instructions{
 
    color: white;
    font-size: 1.5rem;
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;

}
.start-img{
   display: flex;
 justify-content: flex-start;
 align-items: center;

}
.gameBoard{
    /*
    border: solid purple 2px;
    */
    width: 70%;
     height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
/*DOM*/
.rickWin{
    position: relative;
    top: 270px
}
.rickllorando{
    position: relative;
    top: 270px
}
.flechas{
  position:relative;
  left: 85px;
  top: 75px;
}
.spaceBar{
    position:relative;
    left: 100px;
    top: 80px;
  }
.reset{
    position:relative;
  left: 85px;
  top: 50px;
}
p{
 
    color: white;
    font-size: 1.5rem;
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    padding-top: 25px; /*agregado para el padding revisar */

}